footer {
	background-color: $bg-footer;
	color: #FFFFFF;
	width: 100%;
}

.footer {
	display: flex;
    flex-direction: column;
    text-align: center;
    @include mobile-only {
	    display: flex;
	    padding: 10px 0px 20px 20px;
	    align-items: flex-start;
	    text-align: left;
    }
}

.line {
		padding: 5px 0px 5px 0px;

	}

.txt_footer {
	color: #FFFFFF;
	.icon_ustensils, .icon_partner {
		padding-right: 5px;
	}
}