.header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	@include mobile-only {
		display: flex;
	}
}

.return {
	display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.img_logo {
	position: relative;
	width: 250px;
	@include mobile-only {
		width: 150px;
	}
}

.icon_return {
	position: absolute;
	left: 50px;
	font-size: 1.3em;
	color: black;
	@include mobile-only {
		display: flex;
	}

}