.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10000;
  left: 0px;
  top: 0%;
  background-color: rgba(246, 246, 246, 0.9);
  animation: load 2s;
  animation-fill-mode: both;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
    width: 100px;
    height: 100px;
    border-radius:50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background:conic-gradient($color-secondary 10%,$color-primary) content-box;
    -webkit-mask:
      repeating-conic-gradient($color-secondary 0deg,$color-secondary 1deg 20deg),
      radial-gradient(farthest-side,#0000 calc(75%),#000 calc(80%));
    -webkit-mask-composite: destination-in;
    animation:spinner 1s infinite steps(10);
  }