.bg_img img {
	height: 350px;
    width: 100%;
    object-fit: cover;
    @include mobile-only {
    	width: 100%;
    }
    @include tablet-only {
    	width: 100%;
    }
}

.menu {
	background: #F6F6F6;
    border: 1px solid #F6F6F6;
    border-radius: 30px 30px 0px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    padding-bottom: 30px;
    @include mobile-only {
    	margin: 0px;
    	width: 100%;
    	display: flex;
    	flex-direction: column;
    }
    @include tablet-only {
    	width: 100%;
	    display: flex;
	    flex-direction: column;
	    align-content: center;
    }
}

.contain {
	margin-top: -40px;
}

.restaurant_name {
	padding-left: 20px;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}

.plates {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	padding-bottom: 30px;
	@include mobile-only {
		width: 100%;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    
	}
	@include tablet-only {
		width: 100%;
		display: flex;
		flex-direction: column;
    	align-items: center;
	}
	@include laptop-only {
  		display: flex;
  		flex-direction: column;
    }
}

.btn_like {
	@include like;
}

.menu_section_1, .menu_section_2, .menu_section_3 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	h2.title-1 {
		margin-left: 25px;
		margin-bottom: 3px;
	}
	border {
		background-color: $color-tertiary;
		width: 48px;
		height: 3px;
		margin-left:25px;
	}
	@include mobile-only {
		width: 100%;
	}
	@include tablet-only {
		width: 100%;
		display: flex;
		align-items: center;
	}
	@include laptop-only {
		display: flex;
    	align-items: center;
	}
}

.order {
	display:flex;
	justify-content: center;
}

.apetizers, .mains, .desserts {
	@include menu;
	overflow: hidden;
	.plate {
		white-space: nowrap;
   		text-overflow: ellipsis;
    	overflow: hidden;
    	flex: 1;
	}
    .title_menu {
    	margin-bottom: 1px;
    	white-space: nowrap;
   		text-overflow: ellipsis;
    	overflow: hidden;
    }
    .description_menu {
    	margin-top: 1px;
    	font-family: "Roboto-Light", sans-serif;
    	white-space: nowrap;
    	text-overflow: ellipsis;
    	overflow: hidden;
    }
    .price {
    	font-weight: bold;
    	display: flex;
    	justify-content: flex-end;
    	align-items: flex-end;
    	padding-right: 12px;
    }
    @include mobile-only {
    	width: 85%;
    }
    @include tablet-only {
    	width: 85%;
    	margin: 10px auto;
    }
    @include laptop-only {
    	width: 80%;
    }
    .check_box {
	  	background-color: $color-tertiary;
    	margin: 0px -100px 0px 0px;
	    width: 80px;
	    border: 1px solid $color-tertiary;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    transition-duration: 0.8s;
    	right: 15px;
    	animation-fill-mode: both;
	 }
	&:hover .check_box {
    	margin-right: -16px;
  	}
  	.check {
		height: 80px;
	    width: 20px;
	    color: #FFFFFF;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    transform: rotate(180deg);
	   	transition-duration: 0.8s;
	    font-size: 1.3em;
	} 
	&:hover .check {
    transform: rotate(0);
  }
}

.border {
	background-color: $color-tertiary;
	width: 48px;
	height: 3px;
	margin-left: 25px;
}