.section_2 {
	display: flex;
    flex-direction: column;
    width: 100%;
    @include mobile-only {
    	width: 100%;
    }
}

.steps {
	display: flex;
	flex-direction: row;
	margin: auto;
	padding-bottom: 10px;
	@include mobile-only {
		flex-direction: column;
		width: 80%;
	}	
}

.step {
	@include step;
	&:hover {
		background-color:lighten($color-primary, 30%);
		.icon_mobile, .icon_menu, .icon_store {
			color: $color-primary;
		}
	}
	.number {
		@include number;
	}
	.icon_mobile, .icon_menu, .icon_store {
		padding: 15px;
		color: #7E7E7E;
	}
}

