.section_3 {
	display: flex;
    background-color: #F6F6F6;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.restaurants {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding-bottom: 20px;
}

.picture img {
	width: 600px;
    height: 300px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    object-position: center;
    @include mobile-only {
    	width: 370px;
    	height: 175px;
    }
}

article {
	@include article;
	.article_txt {
		@include article-txt;
		@include mobile-only;
	}
}

.menu_accueil {
	color: #000000;
}

.new {
	border: 1px solid $color-tertiary;
	background-color: $color-tertiary;
	color: darken($color-tertiary,40%);
	position: absolute;
	top: 15px;
	right: 15px;
	padding: 8px;

}

.btn_like {
	display: flex;
	align-items: center;
	@include like;
	.like {
	    position: absolute;
	    color: transparent;
	    cursor: pointer;
	    &:hover {
	   		background: $linear-gradient;
	   		-webkit-background-clip: text;
	    }
	}		
}
