/* SECTION 1 */

.section_1 {
	width: 100%;
	@include mobile-only {
		width: 100%;
	}
}

.localisation {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #EAEAEA;
	font-size: 1.1em;
	padding: 20px;
}

.icon_position {
	margin: 15px 15px 15px 0px;
	&.city {
		margin: 30px 15px 30px 0px;
	}
}

.about {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 1em;
	background-color: #F6F6F6;
	padding-top: 20px;
	@include mobile-only {
		display: flex;
		padding: 25px;
		text-align: center;
		font-size: 1.3em;
	}
}

.discover {
	font-family: "Roboto-Light", sans-serif;
}

