.delay_1 {
  animation-delay: 0.1s;
}

.delay_2 {
  animation-delay: 0.2s;
}

.delay_3 {
  animation-delay: 0.3s;
}

.delay_4 {
  animation-delay: 0.4s;
}

.delay_5 {
  animation-delay: 0.5s;
}

.delay_6 {
  animation-delay: 0.6s;
}

.delay_7 {
  animation-delay: 0.7s;
}

.delay_8 {
  animation-delay: 0.8s;
}

.delay_9 {
  animation-delay: 0.9s;
}