@keyframes spinner {
  0% { 
      transform: rotate(0deg);
  }
  100% { 
      transform: rotate(1turn);
  }
}

@keyframes load {
  0% { 
     visibility: visible;
     opacity: 1;
  }

  100%{
      visibility: hidden;
  }
}

@keyframes appear {
    0% {
      transform: scale(0);
      opacity: 0%;
    }
    50% {
      opacity: 0%;
    }
    100% {
      transform: scale(1);
      opacity: 100%;
    }
  }