body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-size: 1em;
  font-family: $font-principal;
}

h1 {
  font-size: 1.6em;
  display: flex;
  justify-content: center;
  @include mobile-only {
    font-size: 1.5em;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
  }
}

h2 {
  font-size: 1.2em;
  margin-left: 3px;
}

h3 {
  font-family: $font-title;
}

a {
  text-decoration: none;
}

button {
  @include btn;
  &:hover {
    background-color: #ae80e5;
    background-blend-mode: lighten;
    box-shadow: 4px 4px 6px grey;
  }
}