.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
@media screen and (max-width: 600px) {
  .header {
    display: flex;
  }
}

.return {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.img_logo {
  position: relative;
  width: 250px;
}
@media screen and (max-width: 600px) {
  .img_logo {
    width: 150px;
  }
}

.icon_return {
  position: absolute;
  left: 50px;
  font-size: 1.3em;
  color: black;
}
@media screen and (max-width: 600px) {
  .icon_return {
    display: flex;
  }
}

/* SECTION 1 */
.section_1 {
  width: 100%;
}
@media screen and (max-width: 600px) {
  .section_1 {
    width: 100%;
  }
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  font-size: 1.1em;
  padding: 20px;
}

.icon_position {
  margin: 15px 15px 15px 0px;
}
.icon_position.city {
  margin: 30px 15px 30px 0px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1em;
  background-color: #F6F6F6;
  padding-top: 20px;
}
@media screen and (max-width: 600px) {
  .about {
    display: flex;
    padding: 25px;
    text-align: center;
    font-size: 1.3em;
  }
}

.discover {
  font-family: "Roboto-Light", sans-serif;
}

.section_2 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .section_2 {
    width: 100%;
  }
}

.steps {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding-bottom: 10px;
}
@media screen and (max-width: 600px) {
  .steps {
    flex-direction: column;
    width: 80%;
  }
}

.step {
  border: 1px solid #F6F6F6;
  border-radius: 20px;
  background-color: #F6F6F6;
  padding: 25px 40px 25px 25px;
  margin: 15px;
  box-shadow: 3px 5px 12px #E8E6E6;
  cursor: pointer;
}
.step:hover {
  background-color: #e4d5f6;
}
.step:hover .icon_mobile, .step:hover .icon_menu, .step:hover .icon_store {
  color: #9356DC;
}
.step .number {
  border: 1px solid #9356DC;
  background-color: #9356DC;
  border-radius: 100%;
  padding: 6px 10px;
  font-size: 0.8em;
  color: #FFFFFF;
  margin-left: -40px;
}
.step .icon_mobile, .step .icon_menu, .step .icon_store {
  padding: 15px;
  color: #7E7E7E;
}

.section_3 {
  display: flex;
  background-color: #F6F6F6;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

.restaurants {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.picture img {
  width: 600px;
  height: 300px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  object-position: center;
}
@media screen and (max-width: 600px) {
  .picture img {
    width: 370px;
    height: 175px;
  }
}

article {
  margin: 10px;
  background-color: #FFFFFF;
  border-radius: 20px;
  text-align: left;
  box-shadow: 2px 2px 10px #E8E6E6;
  position: relative;
  color: black;
}
article .article_txt {
  padding: 0px 0px 10px 10px;
  color: #000000;
  display: flex;
  justify-content: space-between;
}
.menu_accueil {
  color: #000000;
}

.new {
  border: 1px solid #99E2D0;
  background-color: #99E2D0;
  color: #278870;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 8px;
}

.btn_like {
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  padding-right: 25px;
  font-size: 1.3em;
}
.btn_like .like {
  position: absolute;
  color: transparent;
  cursor: pointer;
}
.btn_like .like:hover {
  background: linear-gradient(to right bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
  -webkit-background-clip: text;
}

footer {
  background-color: #353535;
  color: #FFFFFF;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .footer {
    display: flex;
    padding: 10px 0px 20px 20px;
    align-items: flex-start;
    text-align: left;
  }
}

.line {
  padding: 5px 0px 5px 0px;
}

.txt_footer {
  color: #FFFFFF;
}
.txt_footer .icon_ustensils, .txt_footer .icon_partner {
  padding-right: 5px;
}

.bg_img img {
  height: 350px;
  width: 100%;
  object-fit: cover;
}
@media screen and (max-width: 600px) {
  .bg_img img {
    width: 100%;
  }
}
@media screen and (max-width: 1023px) and (min-width: 601px) {
  .bg_img img {
    width: 100%;
  }
}

.menu {
  background: #F6F6F6;
  border: 1px solid #F6F6F6;
  border-radius: 30px 30px 0px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  padding-bottom: 30px;
}
@media screen and (max-width: 600px) {
  .menu {
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1023px) and (min-width: 601px) {
  .menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}

.contain {
  margin-top: -40px;
}

.restaurant_name {
  padding-left: 20px;
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
}

.plates {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 30px;
}
@media screen and (max-width: 600px) {
  .plates {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 1023px) and (min-width: 601px) {
  .plates {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 1199px) and (min-width: 1024px) {
  .plates {
    display: flex;
    flex-direction: column;
  }
}

.btn_like {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  padding-right: 25px;
  font-size: 1.3em;
}

.menu_section_1, .menu_section_2, .menu_section_3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.menu_section_1 h2.title-1, .menu_section_2 h2.title-1, .menu_section_3 h2.title-1 {
  margin-left: 25px;
  margin-bottom: 3px;
}
.menu_section_1 border, .menu_section_2 border, .menu_section_3 border {
  background-color: #99E2D0;
  width: 48px;
  height: 3px;
  margin-left: 25px;
}
@media screen and (max-width: 600px) {
  .menu_section_1, .menu_section_2, .menu_section_3 {
    width: 100%;
  }
}
@media screen and (max-width: 1023px) and (min-width: 601px) {
  .menu_section_1, .menu_section_2, .menu_section_3 {
    width: 100%;
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 1199px) and (min-width: 1024px) {
  .menu_section_1, .menu_section_2, .menu_section_3 {
    display: flex;
    align-items: center;
  }
}

.order {
  display: flex;
  justify-content: center;
}

.apetizers, .mains, .desserts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  height: 80px;
  padding: 0px 15px;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  box-shadow: 3px 5px 12px #E8E6E6;
  cursor: pointer;
  animation: appear 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  max-width: 100%;
  transform: scale(0);
  overflow: hidden;
}
.apetizers .plate, .mains .plate, .desserts .plate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}
.apetizers .title_menu, .mains .title_menu, .desserts .title_menu {
  margin-bottom: 1px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.apetizers .description_menu, .mains .description_menu, .desserts .description_menu {
  margin-top: 1px;
  font-family: "Roboto-Light", sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.apetizers .price, .mains .price, .desserts .price {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 12px;
}
@media screen and (max-width: 600px) {
  .apetizers, .mains, .desserts {
    width: 85%;
  }
}
@media screen and (max-width: 1023px) and (min-width: 601px) {
  .apetizers, .mains, .desserts {
    width: 85%;
    margin: 10px auto;
  }
}
@media screen and (max-width: 1199px) and (min-width: 1024px) {
  .apetizers, .mains, .desserts {
    width: 80%;
  }
}
.apetizers .check_box, .mains .check_box, .desserts .check_box {
  background-color: #99E2D0;
  margin: 0px -100px 0px 0px;
  width: 80px;
  border: 1px solid #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.8s;
  right: 15px;
  animation-fill-mode: both;
}
.apetizers:hover .check_box, .mains:hover .check_box, .desserts:hover .check_box {
  margin-right: -16px;
}
.apetizers .check, .mains .check, .desserts .check {
  height: 80px;
  width: 20px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
  transition-duration: 0.8s;
  font-size: 1.3em;
}
.apetizers:hover .check, .mains:hover .check, .desserts:hover .check {
  transform: rotate(0);
}

.border {
  background-color: #99E2D0;
  width: 48px;
  height: 3px;
  margin-left: 25px;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10000;
  left: 0px;
  top: 0%;
  background-color: rgba(246, 246, 246, 0.9);
  animation: load 2s;
  animation-fill-mode: both;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: conic-gradient(#FF79DA 10%, #9356DC) content-box;
  -webkit-mask: repeating-conic-gradient(#FF79DA 0deg, #FF79DA 1deg 20deg), radial-gradient(farthest-side, #0000 75%, #000 80%);
  -webkit-mask-composite: destination-in;
  animation: spinner 1s infinite steps(10);
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 1.6em;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.5em;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
  }
}

h2 {
  font-size: 1.2em;
  margin-left: 3px;
}

h3 {
  font-family: "Shrikhand", sans-serif;
}

a {
  text-decoration: none;
}

button {
  border: 1px solid transparent;
  border-radius: 50px;
  font-size: 1.2em;
  color: white;
  background: linear-gradient(to right bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
  box-shadow: 2px 2px 4px grey;
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
button:hover {
  background-color: #ae80e5;
  background-blend-mode: lighten;
  box-shadow: 4px 4px 6px grey;
}

.delay_1 {
  animation-delay: 0.1s;
}

.delay_2 {
  animation-delay: 0.2s;
}

.delay_3 {
  animation-delay: 0.3s;
}

.delay_4 {
  animation-delay: 0.4s;
}

.delay_5 {
  animation-delay: 0.5s;
}

.delay_6 {
  animation-delay: 0.6s;
}

.delay_7 {
  animation-delay: 0.7s;
}

.delay_8 {
  animation-delay: 0.8s;
}

.delay_9 {
  animation-delay: 0.9s;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}
@keyframes load {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes appear {
  0% {
    transform: scale(0);
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    transform: scale(1);
    opacity: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
