@mixin btn {
	border: 1px solid transparent;
    border-radius: 50px;
    font-size: 1.2em;
    color: white;
    background: $linear-gradient;
    box-shadow: 2px 2px 4px grey;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

@mixin step {
	border: 1px solid #F6F6F6;
    border-radius: 20px;
    background-color: #F6F6F6;
    padding: 25px 40px 25px 25px;
    margin: 15px;
    box-shadow: 3px 5px 12px #E8E6E6;
    cursor: pointer;
}

@mixin number {
	border: 1px solid #9356DC;
    background-color: #9356DC;
    border-radius: 100%;
    padding: 6px 10px;
    font-size: 0.8em;
    color: #FFFFFF;
    margin-left: -40px;
}

@mixin article {
	margin: 10px;
    background-color: #FFFFFF;
    border-radius: 20px;
    text-align: left;
    box-shadow: 2px 2px 10px #E8E6E6;
    position: relative;
    color:  black;
}

@mixin article-txt {
	padding: 0px 0px 10px 10px;
    color: #000000;
    display: flex;
    justify-content: space-between;
}

@mixin like {
	display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    padding-right: 25px;
    font-size: 1.3em;
}

@mixin menu {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 80px;
    padding: 0px 15px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    box-shadow : 3px 5px 12px #E8E6E6;
    cursor: pointer;
    animation: appear 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    max-width: 100%;
    transform: scale(0);
}

@mixin mobile-only {
	@media screen and (max-width: map-get($breakpoints, mobile)) {
		@content;
	}
}

@mixin tablet-only {
	@media screen and (max-width: map-get($breakpoints, tablet)) and (min-width: 601px) {
		@content;
	}
}

@mixin laptop-only {
	@media screen and (max-width: map-get($breakpoints, laptop)) and (min-width: 1024px) {
		@content;
	}
}