// Colors

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$linear-gradient: linear-gradient(to right bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
$bg-footer: #353535;

// Fonts

$font-principal: 'Roboto', sans-serif;
$font-title: 'Shrikhand', sans-serif;